click==7.1.2
colorama==0.4.3
constantly==15.1.0
contextlib2==0.6.0.post1
distlib==0.3.0
fire==0.3.1
Flask==0.12.2
future==0.18.2
gestures==0.2.2
Glances==3.1.4.1
goto==1.0
goto-statement==1.2
Pillow==6.2.1
progress==1.5
prompt-toolkit==1.0.14
pyfiglet==0.8.post1
Pygments==2.6.1
PyGObject==3.36.1
PyHamcrest==1.9.0
pylint==2.5.3
python-http-client==3.2.7
regex==2020.7.14
reportlab==3.5.42
requests==2.18.4
selenium==3.141.0
sendgrid==6.4.5
uritemplate==3.0.1
urllib3==1.22
virtualenv-clone==0.5.4
